header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: @header-color;
  position: relative;

  .nav-wrapper {
    display: grid;
    grid-auto-flow: column;
    position: sticky;
    top: 0;
    padding: 0 5vw;
    background: antiquewhite;
    align-items: center;

    .logo {
      justify-self: start;
    }
    nav {
      justify-self: flex-end;
      a {
        color: #3f3d56;
        font-weight: bold;
        margin-right: 20px;
        text-decoration: none;
        .hover(#f4735c, 1.2rem);
      }
    }
  }
  .header-img {
    height: 500px;
    width: 100%;
    background: antiquewhite;
    padding: 4rem 10vw;
    display: grid;
    justify-content: center;
    img {
      width: 100%;
      object-fit: fill;
      height: 100%;
    }
  }
  .header-text {
    position: absolute;
    color: #57b894;
    top: 60%;
    padding: 0 5vw;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    h1 {
      word-spacing: 2rem;
      color: #009688;
    }
    p {
      padding: 0.5rem 1rem;
      background-color: #f4735c;
      color: white;
      font-size: 1.2rem;
    }
  }
}
