header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .nav-wrapper {
    display: grid;
    grid-auto-flow: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 0 5vw;
    background: @header-bg;
    align-items: center;
    @media @tablet {
      grid-auto-flow: row;
      justify-content: center;
    }
    @media @tablet {
      grid-auto-flow: row;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: inherit;
      .logo {
        justify-self: start;
      }
    }
    a {
      text-decoration: none;
      text-align: start;
      color: inherit;
      .logo {
        justify-self: start;
      }
      @media @phone {
        margin-right: 3rem;
      }
    }
    nav {
      justify-self: flex-end;
      display: flex;
      @media @tablet {
        justify-self: center;
        text-align: center;
      }
      @media @phone {
        justify-self: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 2rem;
        display: none;
        &.active {
          display: flex;
        }
      }
      a {
        font-weight: bold;
        margin-right: 20px;
        display: block;
        color: @color;
        text-decoration: none;
        .hover(@sec-color, 1.2rem);
        @media @phone {
          margin-right: unset;
          display: block;
          background: #c3b7b1;
          margin-bottom: 0.4rem;
          text-align: center;
          padding: 0.5rem 0;
        }
      }
    }
  }
  .nav-toggle {
    z-index: 1001;
    position: fixed;
    top: 6%;
    right: 4%;
    width: 50px;
    display: none;
    .bar {
      height: 4px;
      width: 30px;
      background: black;
      margin-bottom: 5px;
    }
    &.active {
      .bar {
        position: absolute;
        top: 50%;
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
        }
      }
    }
    @media @phone {
      display: block;
    }
  }
  .header-img {
    height: 500px;
    width: 100%;
    background: @header-bg;
    padding: 4rem 10vw;
    display: grid;
    justify-content: center;
    @media @phone {
      margin-top: 4rem;
    }
    img {
      width: 100%;
      object-fit: fill;
      height: 100%;
    }
  }
  .header-text {
    position: absolute;
    color: #57b894;
    top: 60%;
    padding: 0 5vw;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    @media @phone {
      top: 70%;
    }
    h1 {
      word-spacing: 2rem;
      color: @color;

      @media @phone {
        font-size: 1.2rem;
        word-spacing: unset;
      }
    }
    p {
      padding: 0.5rem 1rem;
      background-color: @sec-color;
      color: white;
      font-size: 1.2rem;
    }
  }
}
