@sec-color: #f4735c;
@color: #3f3d56;
@bg-contrast: #fafafa;
@font-family: 'Work Sans', sans-serif;
@header-bg: antiquewhite;
@hd-font: 'Princess Sofia', cursive;
@tablet: ~'@media(min-width: 800px)';
@phone: ~'@media(min-width: 500px)';
@desktop: ~'@media(min-width: 1000px)';
